.app-header {
	@extend .shadow-z-1;
	height: 144px;
	background: $primary-color;
	position: relative;
	z-index: 3;

	// .app-header-contact {
	// 	@extend .col-xs-2;
	// 	float: right;
	// 	text-align: right;
	// 	top: 120px;
	// 	z-index: 9;
	// }

	.app-header-title {
		@extend .col-xs-3;
	}

	div {
		position: relative;
		height: 100%;
	}
}

nav {
	&.navbar {
		background: inherit;
	}
}

