.blog,
.archive {
	main.main > section {
		background: transparent;
		box-shadow: none;
		margin: 0;
		padding: 0;
	}

	article {
		@extend .shadow-z-1;
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 15px;
		margin-bottom: 10px;
	}
}