// Grid system
.main {
	@include make-sm-column($main-sm-columns);

	
	.sidebar-primary & {
		@include make-sm-column($main-sm-columns - $sidebar-sm-columns);

		position: absolute;
		top: 0;
		right: 0;
		overflow: auto;
		z-index: 5;

		> section {
			background: #fff;
			margin-top: 69px;
		}
	}

}
.sidebar {
	@include make-sm-column($sidebar-sm-columns);
}
