html {
	overflow: auto;
}

body {
	overflow: auto;
}

.no-pad {
	padding: 0;
}

// The button always next to the main content
.main section + div > .btn-fab {
	&:focus, &:active, &:visited { color: #fff; }
}

.main {
	.sidebar-primary & {
		padding-bottom: $app-header-height/3;

		> section {
			@extend .shadow-z-2;
			background: #fff;

			> article {
			}
		}
	}
}

@media (min-width: $screen-sm) {	
	main.main > .sidebar-primary {
		position: absolute;
		top: 0;
		right: 0;
		overflow: auto;
		z-index: 5;
	}

	main.main > section {
		padding-top: 15px;
	}

	main.main section + div > .btn-fab {
		position: fixed;
		margin-top: $app-header-height/2;
		margin-left: 50px;
		z-index: 100;
	}
}

@media (max-width: $screen-md) {
	main.main section + div > .btn-fab {
		margin-left: 30px;
	}
}

/* * *
 * 	Helpers
 */

 .inline {
 	display: inline;
 }
 .inline-block {
 	display: inline-block;
 }