html {
	overflow: auto;
}

body {
	overflow: auto;
}

.wrap {
}

@media (min-width: $screen-sm) {	
	main.main > .sidebar-primary {
		position: absolute;
		top: 0;
		right: 0;
		overflow: auto;
		z-index: 5;
	}

	main.main > div {
		padding-top: 15px;
	}

	main.main .btn-fab {
		position: fixed;
		margin-top: 50px;
		margin-left: 50px;
		z-index: 100;
	}
}