// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings

$main-xs-columns:       10;
$sidebar-xs-columns:    3;

$main-sm-columns:       9;
$sidebar-sm-columns:    3;

$main-md-columns:       9;
$sidebar-md-columns:    3;

$main-lg-columns:      9;
$sidebar-lg-columns:    3;
